<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:name="Aplicacion"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_mi_icono"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_mi_icono"
        android:supportsRtl="true"
        android:theme="@style/Theme.MisLugares.Fullscreen">
        <activity
            android:name=".presentacion.LoginActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.MisLugares.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".presentacion.MenuPrincipalActivity"
            android:exported="false"
            android:label="Menú Principal"
            android:theme="@style/Theme.MisLugares.Fullscreen"/>
        <activity
            android:name=".presentacion.MainActivity"
            android:exported="false"
            android:label="Mis Lugares Guardados"
            android:theme="@style/Theme.MisLugares.Fullscreen"/>
        <activity android:name=".presentacion.AcercaDeActivity"
            android:label="Acerca de ..."
            android:theme="@style/Theme.AppCompat.Light.Dialog"/>
        <activity
            android:name=".presentacion.VistaLugarActivity"
            android:label="Vista del lugar"
            android:theme="@style/Theme.MisLugares.Fullscreen"/>
        <activity
            android:name=".presentacion.EdicionLugarActivity"
            android:label="Edicion Lugar"
            android:theme="@style/Theme.MisLugares.Fullscreen"/>
        <activity android:name=".presentacion.PreferenciasActivity"
            android:label="Preferencias"
            android:theme="@style/Theme.MisLugares.Fullscreen"/>
        <activity
            android:name=".presentacion.MapaActivity"
            android:theme="@style/Theme.MisLugares.Fullscreen"/>
        <activity
            android:name=".presentacion.RutaActivity"
            android:label="Ruta al lugar"
            android:theme="@style/Theme.MisLugares.Fullscreen"/>
        <activity
            android:name=".presentacion.LugaresDeRutaActivity"
            android:label="Lugares de la ruta"
            android:theme="@style/Theme.MisLugares.Fullscreen"/>
        <activity
            android:name=".presentacion.EditarRutaActivity"
            android:label="Editar ruta"
            android:theme="@style/Theme.MisLugares.Fullscreen"/>
        <activity
            android:name=".presentacion.SeleccionarEnMapaActivity"
            android:label="Elegir ubicación"
            android:theme="@style/Theme.MisLugares.Fullscreen"/>
        <provider
            android:authorities="com.example.misLugares.fileProvider"
            android:name="androidx.core.content.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>
        </provider>
    </application>

</manifest>